<a href="https://colab.research.google.com/github/akash1760/LanguageDetection/blob/main/LanguageDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Language Detection using Machine Learning**

Importing Necessory Libraries

In [32]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

Loading the dataset

In [33]:
data = pd.read_csv('/content/Language Detection.csv')

Displaying First 5 rows

In [34]:
print(data.head())

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [35]:
data.isnull().sum()

Text        0
Language    0
dtype: int64

Cheks the count of values present in each language

In [36]:
data["Language"].value_counts()

Language
English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Name: count, dtype: int64

Spliting dataset into Training and Testing

In [37]:
x = np.array(data["Text"])
y = np.array(data["Language"])

cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.33,
                                                    random_state=42)

In [38]:
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.977725674091442

In [39]:
user = input("Enter a Text to detect language: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text to detect language: Hi, how are you today?
['English']